html, body {

	background: #ccccff;
	height: 100%;
	margin: 0;
	padding: 0;

}

canvas {

			background: #ccccff;
			margin: auto;
			position: absolute;
			top: 0px;
			bottom: 0px;
			left: 0px;
			right: 0px;
		}